# Unreal Gemerated Files #
/Build
/Binaries
/DerivedDataCache
/Intermediate
/Saved
Content/StarterContent/
*.db
.vs/EscapeRoom/v15/ipch/AutoPCH/b97d6a8705ea2bb4/POSITIONREPORT.ipch
.vs/EscapeRoom/v15/ipch/AutoPCH/9cbbdb8e5c897631/PAPERFLIPBOOKACTORFACTORY.ipch
*.ipch
