# Unreal Gemerated Files #
/Build
/Binaries
/DerivedDataCache
/Intermediate
/Saved
*.db
*.ipch
Content/StarterContent/Textures/
Content/StarterContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
*.VC.opendb
*.sln
